@font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('https://melihozdmr.github.io/fonts/clashdisplay-medium.woff2') format('woff2'),
    url('https://melihozdmr.github.io/fonts/clashdisplay-medium.woff') format('woff'),
    url('https://melihozdmr.github.io/fonts/clashdisplay-medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('https://melihozdmr.github.io/fonts/clashdisplay-semibold.woff2') format('woff2'),
    url('https://melihozdmr.github.io/fonts/clashdisplay-semibold.woff') format('woff'),
    url('https://melihozdmr.github.io/fonts/clashdisplay-semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}
body {
    font-family: ClashDisplay-Medium;
    background-color: #171718;
}
.noise {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(https://melihozdmr.github.io/noise.png);
    background-position: 50% 50%;
    background-size: auto;
    background-attachment: scroll;
    opacity: .8;
}
.bg-blue {
    position: fixed;
    top: -19%;
    z-index: -1;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: #0083ff;
    -webkit-filter: blur(680px);
    filter: blur(680px);
}
.bg-orange {
    position: fixed;
    bottom: -19%;
    right: 0;
    z-index: -1;
    width: 564px;
    height: 564px;
    border-radius: 50%;
    background-color: #FA6B2E;
    -webkit-filter: blur(680px);
    filter: blur(680px);
}
.notion-semantic-string .link {
    opacity: 1;
}
.super-navbar__content {
    padding: 0 24px;
}